<!DOCTYPE>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creating a Responsive Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
   
</head>
<body>
   
  <div id="page">

        <header>
                
                <div id="svg">
                <h1>Inflection Point</h1>
                <p>A practical guide to growth</p>
               </div>
                 <div class="hero">
                  <h2>Aadia -- Holistic App</h2>
                 <a class="btn1" href="#">Rejuvenate <span>and Re-energize</span></a>

            </div>

        </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;height:100%">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
         
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
               <!-- <div class="col-sm-3"  style="text-align:left;padding:45px">-->
                    <ul  class="sidelist">
                          <li><a  href="/teenselfesteemthanks" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white;margin-bottom:10px">Home</a> </li> 
                         
                    </ul>
                    </div>
                    <div class="col-sm-4" >
        <ul class="nav nav-list">
            <li><label class="tree-toggler nav-header">Career Coaches</label>
                <ul class="menu vertical"  style="line-height:2em">
                    <%if (typeof results !== 'undefined' && results ){%>
                    <% for(var i=0; i<results.length; i++) {%>
                    <li ><%=results[i].name%><br></li>
                    <%}%>
                    <%} else {%>
                    <%if (typeof message !== 'undefined' && message ){%>
                    <div class="col-sm-4" style="background:#CD5C5C"><p><%=message%></p></div>
                    <%}%>
                    <% } %>
                   </ul>
               </li>
           </ul>
       </div>
          <div class="col-sm-7">
             <div id="mario-chat">
            <h2>Mario Chat</h2>
            <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
            <input id="handle" type="text" placeholder="Handle" value= "<% if(user.google.email) { %>
                           <%=user.google.name%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.name%>
                             <% } %>

                               <% if(user.local.email) { %>
                                  <%=user.local.email.substring(0,2).trim()%>

                             <% } %>"/>
            <input id="message" type="text" placeholder="Message" />
            <button id="send">Send</button>
        </div>


          </div>

                
                     </div>   
               
                 </div>

                   <footer class="footer"  style="height:80px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>  

      <script src="../js/chat.js"></script>
</body>
</html>