<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citta- Inflection Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/mainpage.css">
    <link rel="stylesheet" type="text/css" href="css/commonStyles.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<div id="page">

      <header class="headerSection">
        <a href="/mywelcomepage" class="buttonHome">Home</a>  
        <div class="headerContent1">
           <p> Citta -- Holistic App</p>
         </div>
         <div  class="headerRight">
          <a style="display:block;font-size:20px;float:right;text-align:right;margin-right:2%;color:white;text-decoration:none;" id="logout" class="logout" href="/logout">logout</a>
          <p style="display:block;float:right;text-align:right;font-size:20px;margin-right:2%;color:white;text-decoration:none;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
      <div>
 </header>

<!--<div class="jumbotron" style="padding:0;margin-left:10px">-->
    <div class="row">
      <div class="col-sm-2 col-xs-2">
          <ul class="nav nav-list">
            <li><label class="tree-toggler nav-header">Career Coaches</label>
                <ul class="menu vertical"  style="line-height:2em;margin-left:6%">
                    <%if (typeof results !== 'undefined' && results ){%>
                    <% for(var i=0; i<results.length; i++) {%>
                    <li ><%=results[i].name%><br></li>
                    <%}%>
                    <%} else {%>
                    <%if (typeof message !== 'undefined' && message ){%>
                    <div class="col-sm-4" style="background:#CD5C5C"><p><%=message%></p></div>
                    <%}%>
                    <% } %>
                   </ul>
               </li>
           </ul>
      </div>
     <div class="col-sm-9 ">
        <div id="Leave message to any of the coaches">
          <h4>Drop a Message </h4>
                        <div id="userdetails-form">
                            <form action="/connect2careercoach" method="post" >
                               <div>   
                                  <textarea class="form-element"  name="activity1"></textarea>        
                                    <button type="submit" id="sendCoachMessage">Send</button>
                                </div>
                            </form>
                       </div>
           </div>               
     </div>

         

      <script src="../js/chat.js"></script>
</body>
</html>