<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citta- Inflection Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">


     <header >
        <div class="row"  >
                <a href="/selfhelp" class="homebutton">Home</a>  
              <p class="headingContent">  Citta - A practical guide to growth  </p> 
              <div class="row">
               <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>

 <!--<div class="jumbotron" style="padding:0;margin-left:10px">-->
    <div class="row" >
    
       <div class="col-sm-12" >
            <div id="userdetails-form" style="text-align:center;margin-left:10%;">
              <form action="/userdayevents" method="post">
                 <h4>How do you feel today?</h4>
                        <fieldset>
                                        <select id="selecttodaysGoal" name="selecttodaysGoal" >
                                          <% if(data) { %>
                                            <option value="<%=data6%>"><%=data6%></option>
                                            <% } %>
                                            <option>I am happy</option>
                                            <option>I am very angry and upset</option>
                                            <option>I feel anxious</option>
                                            <option>I dislike my friends as they are mean</option>
                                            <option>I dislike the food I am eating</option>
                                            <option>I dont have anyone to talk to</option>
                                            <option>I am bored</option>
                                            <option>I am nervous as I dont have a boyfriend</option>
                                            <option>I dont feel loved </option>
                                            <option>I dont have enough money </option>
                                            <option>I lost my job </option>
                                            <option>I don't know what to do</option>
                                            <option>I feel my friends are making fun of me</option>
                                            <option>Other</option>
                                        </select>
                                        <span class="validateError" id="reasonError" style="display: none;">You must select the reason you are here</span>
                                    </fieldset>
                            <div>

                                        <button type="submit" id="dailyeventbtn" class="btn btn-dark btn-lg" style="width:120px;height:50px;margin-left:40px;margin-top:10px;margin-bottom:25px;color:black">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="col-sm-9 col-xs-9 result">

                            <p>
                                <%=data%>
                            </p>
                            <p>
                                <%=data1%>
                            </p>
                            <p>
                                <%=data2%>
                            </p>
                            <p>
                                <%=data3%>
                            </p>
                            <p>
                                <%=data4%>
                            </p>
                            <p>
                                <%=data5%>
                            </p>

                        </div>
                    </div>

            </div>
        </div>
  <!-- </div>-->
 <footer class="container-fluid text-center footerContent" >
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Yeda 2020</p> 
      </footer>  
   
</body>

</html>
