<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
        
</head>
<body>


   <header >
        <div class="container">
            <h1><%=user.username%>'s Activities</h1>
            
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
          <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
         <a href="/mywelcomepage" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Home</a>   
        <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <!--<a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>-->
          <a href="/spiritualtalks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Talks</a>
        <a href="/spiritualbooks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Books</a>
        <a href="/guidedtours" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Events </a>
        
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
              </div>     
              </nav>
              <div class="row" style="margin-left:20px;padding:0;" id="mainwelcomepage">
                <section class="col-md-2"  style="text-align:left;padding:45px">
               <div  style="margin-left:20px;">
                    <ul  class="sidelist">

                        <li class="active"> <a href="/dashboard">Dashboard</a></li>
                        <li> <a href="/dailyevents"> Daily Events</a></li>
                       <li> <a href="/dailyplanner"> Daily Planner</a></li>
                    </ul>

                </div>
              </section>
               
                <section class="col-md-10"  style="text-align:left;padding:45px">
              

               <div class="userdayevents" >
                    
                        <div class="userdetails-form">
                        <!--    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
                            <form action="/userdayevents" method="post">

                                <p class="text-center">How do you feel today?</p>
                               
                                
                                 <fieldset>  
                                  <select id="selecttodaysGoal" name="selecttodaysGoal" style="margin-top:10px;margin-bottom:10px;height:48px">
                                  <option>I am happy</option>
                                   <option>I am very angry and upset</option>
                                  <option>I feel anxious</option>
                                   <option>I dislike my friends as they are mean</option>
                                   <option>I dislike the food I am eating</option>
                                   <option>I dont have anyone to talk to</option>
                                  <option >I am bored</option>
                                  <option>I am nervous as I dont have a boyfriend</option>
                                  <option>I dont feel loved </option>
                                  <option>I dont have enough money </option>
                                  <option>I lost my job </option>
                                  <option>I don't know what to do</option>
                                   <option>I feel my friends are making fun of me</option>
                                   <option>Other</option>
                                 </select>
                                 <span class="validateError" id="reasonError" style="display: none;">You must select the reason you are here</span>  
                                  </fieldset> 


                                 
                                  <div>
                                    
                                    <button type="submit" id="login" class="btn btn-dark btn-lg" style="width:120px;height:50px;margin-left:40px;margin-top:10px;margin-bottom:25px;color:white">Submit</button>
                                </div>
                            </form>
                        </div>
                    
                </div>

                <div class="col-md-8" class="result" style="text-align:center;margin-top:40px;text-align:left;background:red;color:white">
                  
                           <p><%=data%></p>
                            <p><%=data1%></p>
                            <p><%=data2%></p>
                             <p><%=data3%></p>
                             <p><%=data4%></p>
                             <p><%=data5%></p>
                     </div>
           </section>



                </div>




           
        </div>
             <footer class="container-fluid bg-4 text-center footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>