<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
   <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <!-- load fontawesome -->

    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
     <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="../js/script.js"></script>


</head>

<body>
    <script>
        jQuery(document).ready(function ($) {

                    $('.showsong1').hide();
                    $('.toggle').click(function () {
                        var $toggled = $(this).attr('href');
                       
                        $($toggled).siblings(':visible').hide();
                        $($toggled).toggle("slide", {
                            direction: 'up'
                        }, 1000);
                        $($toggled).toggle();
                        //return false;
                    });

                    $('#myTable').DataTable();

                });
    </script>


    <header >
        <div class="container">
            <h1> SONG LIST </h1> 
        </div>
    </header>

    <div style="margin-left:20px">
<a href="/mywelcomepage" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Home</a>   
<a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>  
 <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav> 
</div>
   
    <div class="row" style="margin-left:20px;margin-top:20px;padding:0;">

        <div class="col-sm-10" style="padding:0">
            
            <div class="musiclist" style="padding:0;margin-left:20px;">

                <div class="table-responsive">



                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                    <%= instrumusicdata.categoryName%>
                                </th>
                                <th style="text-align:center">
                                   <h5></h5><p>YouTube Link</p> 
                                </th>
                                <th style="text-align:center">
                                   <h5></h5><p>My PlayList</p> 
                                </th>
                            </tr>


                        </thead>
                        <tbody>

                            <%  for(var i=0; i<instrumusicdata.songlist.length; i++) {%>

                                <tr>
                                    <td>
                                        <a class="toggle" href="#<%= instrumusicdata.songlist[i].songElementId%>">
                                            <%=instrumusicdata.songlist[i].songTitle%>
                                                </li>
                                    </td>
                                      <td><a href="<%=instrumusicdata.songlist[i].youtubelink%>" target="_blank"><%=instrumusicdata.songlist[i].youtubelink%></a></td>

                                        <td>
                                            <a href="/createmyplaylist" class="btn btn-dark" style="float:right;" >Add</a>
                                               
                                    </td>

                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="padding:0">
            <div class="contentarea" style="padding:0">

                <div class="showsong1" id="teentaal">
                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center;">
                            <h1>Teen Taal</h1>
                            <br>
                        </div>

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qpf32pHqmpY" style="margin-top:100px" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>


                <div class="showsong1" id="fusionmusic1">
                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Fusion Music - Sitar, Tabla, Flute, B.Shivaramakrishna Rao</h1>
                            <br>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qpf32pHqmpY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="showsong1" id="fmusic2">

                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Instrumental music by Kadri Gopalnath</h1>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2Ub98vlXPcg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>

                 <div class="showsong1" id="fmusic3">

                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <p>Raga Puriya Kalyan, Raga Pilu (with Patricia Kopatchinskaja), Raga Pancham Seghara (with Pirashanna Thevarajah), Raga Manj-Khammaj (brief encore)</p>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/94IGuku0v1k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>

                <div class="showsong1" id="sonata">

                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Sonata en a minor Arpeggione</h1>
                        </div>
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/NNcQuY1isEI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="showsong1" id="tviolin">

                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>SJanine Jansen Violin</h1>
                        </div>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/VEbyyqyKtM0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>


                 <div class="showsong1" id="bbaroque">

                    <div class="row" style="margin-top:10px;padding:20px">
                        <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>The Best Baroque Music. 1 Hour with The Most Rare Classical Recording for Trumpet</h1>
                        </div>
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/csOo44oXL0g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>


            </div>
        </div>
         <div class="push1"  style="height:500px"></div>
    </div>




    <!--Who are Dasas-->

    <!-- <div class="row" style="padding:0;">-->

    <footer class="container-fluid bg-4 text-center footer" >
        <p> <span>&copy; Copyright 2018
        </span></p>
    </footer>

</body>

</html>
