<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="/js/script.js"></script>
    
</head>
<body>

   <header class="bgimage">
        <div class="container">
           <h1>Holistic App -- Citta</h1>
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">
     <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>
     <% if (user.google.id != null) { %>
            <h2 class="fa fa-google-plus"> Google</h2><br>
            <img src="https://avatars.io/gravatar/<%= user.google.email %>/140" class="img-circle"><br>
            <strong>id</strong>: <%= user.google.id %><br>
            <strong>token</strong>: <%= user.google.token %><br>
            <strong>email</strong>: <%= user.google.email %><br>
            <strong>name</strong>: <%= user.google.name %>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  </html>