<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
     <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

     <script>
 jQuery(document).ready(function ($) {
      $('#myTable').DataTable();
  });

      </script>

  <header >
        <div class="row"  >
                <a href="/dailyroutine" class="btn btn-dark btn-lg homebutton" >Home</a>  
              <p style="margin-left:auto; margin-right:auto;text-align:center;">  Citta-A practical guide to growth </p> 
              <div class="row">
               <a  id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>
   <div  class="headingContent">   
          <h1 >Spiritual Books</h1>
       </div>
     <div class="row spiritualBooksInnerWrapper" >

        <div class="col-sm-12" style="padding:0">
            <div class="musiclist" style="padding:0;margin-left:20px;">

                <div class="table-responsive">



                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                   <h5></h5><p>Spiritual books</p> 
                                </th>

                                <th style="text-align:center">
                                   <h5></h5><p>Author</p> 
                                </th>

                               
                                 <th style="text-align:center">
                                   <h5></h5><p>Amazon Link</p> 
                                </th>
                            </tr>


                        </thead>
                        <tbody>



                            <%  for(var i=0; i<spbooksdata.booklist.length; i++) {%>

                                <tr>
                                    <td>
                                        <a class="toggle" href="#">
                                            <%=spbooksdata.booklist[i].bookTitle%>
                                              
                                    </td>
                                     <td>
                                        <a class="toggle" href="#">
                                            <%=spbooksdata.booklist[i].bookAuthor%>
                                              
                                    </td>
                                     <td>
                                        <a class="toggle" href="<%=spbooksdata.booklist[i].amazonlink%>" target="_blank">
                                            <%=spbooksdata.booklist[i].amazonlink%>
                                              
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

        <!--    </div>-->
            <div class="push"></div>
            <footer class="container-fluid text-center" style="position:fixed;margin-top:3%;bottom:0;background-color:#4b0000;width:100%;height:3%;color:ghostwhite;">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Citta 2020</p> 
      </footer>
</body>
</html>