<!DOCTYPE>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creating a Responsive Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>

     <script>
 jQuery(document).ready(function ($) {
      $('#myTable').DataTable();
  });

      </script>

   <div id="page">

        <header>
                
                <div id="svg">
                <h1>Inflection Point</h1>
                <p>A practical guide to growth</p>
               </div>
                 <div class="hero">
                  <h2>Aadia -- Holistic App</h2>
                 <a class="btn1" href="#">Rejuvenate <span>and Re-energize</span></a>

            </div>

        </header>



   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->
       <div style="margin-left:20px">
         <a  class="btn btn-info btn-lg" href="/teenselfesteemthanks" style="margin-bottom:10px;margin-top:10px;width:300px;overflow:hidden"> Home</a>


        
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>
                   
              </nav>
</div>
               

                <div class="row" style="margin-left:20px;margin-top:20px;padding:0;">

        <div class="col-sm-12" style="padding:0">
            <div class="musiclist" style="padding:0;margin-left:20px;">

                <div class="table-responsive">



                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                   <h5></h5><p>Spiritual books</p> 
                                </th>

                                <th style="text-align:center">
                                   <h5></h5><p>Author</p> 
                                </th>

                               
                                 <th style="text-align:center">
                                   <h5></h5><p>Amazon Link</p> 
                                </th>
                            </tr>


                        </thead>
                        <tbody>



                            <%  for(var i=0; i<spbooksdata.booklist.length; i++) {%>

                                <tr>
                                    <td>
                                        <a class="toggle" href="#">
                                            <%=spbooksdata.booklist[i].bookTitle%>
                                              
                                    </td>
                                     <td>
                                        <a class="toggle" href="#">
                                            <%=spbooksdata.booklist[i].bookAuthor%>
                                              
                                    </td>
                                     <td>
                                        <a class="toggle" href="<%=spbooksdata.booklist[i].amazonlink%>" target="_blank">
                                            <%=spbooksdata.booklist[i].amazonlink%>
                                              
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

            </div>
        </div>

           </div>
             <footer class="footer" style="height:80px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>