<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
     <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

     <script>
 jQuery(document).ready(function ($) {
      $('#myTable').DataTable();
  });

      </script>

   <header >
        <div class="container">
            <h1>Spiritual Books</h1>
            
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->
       <div style="margin-left:20px">
         <a  class="btn btn-info btn-lg" href="/teenselfesteemthanks" style="margin-bottom:10px;margin-top:10px;width:300px;overflow:hidden"> Home</a>


        
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
</div>
               

                <div class="row" style="margin-left:20px;margin-top:20px;padding:0;">

        <div class="col-sm-12" style="padding:0">
            <div class="musiclist" style="padding:0;margin-left:20px;">

                <div class="table-responsive">



                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                   <h5></h5><p>Spiritual books</p> 
                                </th>

                                <th style="text-align:center">
                                   <h5></h5><p>Author</p> 
                                </th>

                               
                                 <th style="text-align:center">
                                   <h5></h5><p>Amazon Link</p> 
                                </th>
                            </tr>


                        </thead>
                        <tbody>



                            <%  for(var i=0; i<spbooksdata.booklist.length; i++) {%>

                                <tr>
                                    <td>
                                        <a class="toggle" href="#">
                                            <%=spbooksdata.booklist[i].bookTitle%>
                                              
                                    </td>
                                     <td>
                                        <a class="toggle" href="#">
                                            <%=spbooksdata.booklist[i].bookAuthor%>
                                              
                                    </td>
                                     <td>
                                        <a class="toggle" href="<%=spbooksdata.booklist[i].amazonlink%>" target="_blank">
                                            <%=spbooksdata.booklist[i].amazonlink%>
                                              
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

            </div>
            <div class="push"></div>
             <footer class="footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>